* {
	paddinng:0;
	margin:0;
	box-sizing: norder-box;
	text-decoration: none;
	font-family: sans-serif;
	font-size: 14px;
}

body
{
	width:100%;
	min-height: 100vh;
	background-color: rgb(243, 243, 243);
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
}

.instagram-wrapper 
{
	display: flex;
	align-items: center;
	justify-content: start;
	width: 60%;
	height: 100vh;
}

.instagram-phone
{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50%
}

.instagram-phone img
{	
	height: 48rem;
}

.instagram-login
{
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: column;
	width: 50%;
	min-height: 34rem;
}

.group
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	background-color: #ffffff;
	width: 350px;
	padding: 1.3rem 0;
	border: 1px solid #d3d3d3; 
}

.group:nth-child(1)
{
	min-height: 396px;
	margin-bottom: 10px;
}

.linha
{
	display: inline-block;
}

.entrar 
{
	width: 250px;
	font-size: 18px;
	text-align: center;
	margin-top:1rem;
	background-color: #0095f6;
	color: #ffffff;
	border-radius: 4px;
	padding:8px;
}


.no-account
{
	color: rgb(160,160,160);
}

.cadastro
{
	color: #0095f6;
}

.facebook
{
	color: #3b5998;
	font-size: 16px;
	font-weight: bold;
}

.esqueci
{
	color: #3b5998;
}

.get-the-app
{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: 1.3rem 0;
}

.download
{
	display: flex;
	width: 100%;
	justify-content: space-evenly;
	align-items: center;
	padding: 1rem;
}

.app-download
{
	height: 3rem;
	width: 9.4rem;
	background-size: cover;
}

.app-download:nth-child(1)
{
	background-image: url('./img/apple_store.png');
}

.app-download:nth-child(2)
{
	background-image: url('./img/google_play.png');
}

.box
{
	height: 25px;
}

@media (max-width: 1024px)
{
	.instagram-wrapper
	{
		width: 90%;
	}
}

@media (max-width: 1024px)
{
	.instagram-wrapper
	{
		width: 90%;
	}
	
	.instagram-phone
	{
		display: none;
	}
	
	.instagram-login
	{
		width:100%;
	}
}
